a {
	text-decoration: none;
	color: rgb(243, 84, 84);
	text-transform: uppercase;
	font-weight: bold;
	padding: 20px;
}
a:hover {
	color: rgb(197, 44, 90);
	transition: color 0.5s;
}

li {
	padding: 10px 0;
}
